{% extends 'base.html' %}

{% block head %}
    <!-- mmd sources -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'twitting/css/twittPage.css' %}">
    <script src="{% static 'twitting/js/TwittingManager.js' %}"></script>

    <!-- forala -->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet'
          type='text/css'/>
    <script type='text/javascript'
            src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>

    <style>


        .like-pack {
            display: inline-block;
            float: right;
            padding: 0px;
            margin: 0px;
        }

        .like-counter {
            font-weight: bold;
            display: inline-block;
            float: right;
            margin: 0px;
            margin-left: -2px;
            margin-right: -11px;
            padding: 0px;
        }

        .background-image {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -999999;
            background-image: url("{% static '9401.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .comment-hoverable {
            cursor: pointer;
            -webkit-transition-property: background; /* Safari */
            -webkit-transition-duration: 5s; /* Safari */
            -webkit-transition-delay: 10s; /* Safari */
            transition-property: background;
            transition-duration: 1s;
            transition-delay: 0s;
        }

        .comment-hoverable:hover {
            background: #bcd8ed;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="background-image">
    </div>


    <div class="comments-container" style="margin-top: 90px;">
        {% if can_write %}
            <button class="ui inverted green button" style="float: right" title="new post" id="new-post"><i
                    class="plus icon"></i>New
            </button>
        {% endif %}
        <h1>{{ tittle }} <a href="http://127.0.0.1:8000/paging/mypage/">http://127.0.0.1:8000/paging/mypage/</a></h1>
        <ul id="comments-list" class="comments-list">
            {% for comment in comments %}
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img
                                src="{{ comment.author.avatar }}" alt="">
                        </div>
                        <div class="comment-box" id="{{ comment.id }}">
                        </div>
                    </div>
                    <ul class="comments-list reply-list">
                        {% for reply in comment.replys %}
                            <li>
                                <div class="comment-avatar"><img
                                        src="{{ reply.author.avatar }}"
                                        alt={{ reply.author.name }}>
                                </div>
                                <div class="comment-box" id="{{ reply.id }}">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>



    <script>

        window.user_username = '97110071';
        let jsonObject = JSON.parse('{{ comments_json | escapejs }}');
        new TwittingManager(jsonObject, '{{ can_write }}');

    </script>


{% endblock %}
