{% extends 'accounting/../base.html' %}
{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kapella Admin Dashboard</title>

    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href={% static 'twitting/materialdesignicons.min.css' %}>
    <link rel="stylesheet" href="{% static 'twitting/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href={% static 'twitting/twittPage.css' %}>

    <!-- Include Editor style. -->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet'
          type='text/css'/>

    <!-- Include JS file. -->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'>
    </script>

{% endblock %}

{% block body %}
    {% block comments %}
    {% endblock %}
{% endblock %}