{% extends 'base.html' %}

{% block head %}
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Professionals Resume HTML Bootstrap Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="{% static 'profile-files/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'profile-files/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile-files/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile-files/css/style.css' %}"/>

    <style>
        .background-image {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -999;
            background-image: url("{% static '9401.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="background-image">
    </div>

    <div class="container-fluid overcover">
        <div class="container profile-box">
            <div class="top-cover" style="height: fit-content;">
                <div class="covwe-inn">
                    <div class="row no-margin">
                        <div class="col-md-3 img-c">
                            {#                            <img src="{{ owner.account.profile_photo.url }}" alt="">#}
                        </div>
                        <div class="col-md-9 tit-det">
                            <h2>{{ channel.title }}</h2>

                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Admins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resume" role="tab"
                       aria-controls="profile"
                       aria-selected="false">Members</a>
                </li>
                {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#gallery" role="tab"
                           aria-controls="profile" aria-selected="false">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                           aria-controls="contact" aria-selected="false">Admin Manager</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row no-margin home-det">
                        <div class="col-md-4 big-img">

                            <h3 class="ltitle">Info</h3>

                            <div class="refer-cov">
                                <p><b>title:</b> {{ channel.title }}</p>
                                <br>
                                <p><b>owner:</b> {{ channel.creator.name }}</p>
                                <br>
                                <p><b>description:</b> {{ channel.description }}</p>
                            </div>
                            <div class="refer-cov">

                                <p><b>accessibility: </b> {% if cahnnel.public %}Public{% else %}
                                    Private{% endif %}</p>
                            </div>

                        </div>
                        <div class="col-md-8 home-dat">
                            <a href="{% url 'view_page' channel.page_id %}">
                                <button class="green ui toggle button">View page</button>
                            </a>
                            {% if request.user.is_authenticated %}
                                <button class="{% if followed %}red{% else %}green{% endif %} ui active button"
                                        onclick="follow_click()">
                                    <i class=" user icon"></i>{% if followed %}Unfollow{% else %}
                                    Follow{% endif %}
                                </button>
                            {% endif %}

                            <br><br>
                            <h2 class="rit-titl"> Description
                            </h2>
                            <p>{{ channel.description }}</p>
                            <div class="links">
                                <div class="row ">
                                    <div class="col-xl-6 col-md-12">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade exp-cover" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="data-box">
                        <div class="sec-title">
                            <h2>Admins</h2>
                        </div>
                        {% for admin in admins %}
                            <div class="row exp-row">
                                <h6>{{ admin.name }}</h6>
                                <a href="{% url 'accounting:profile' admin.user.username %}"><span>{{ admin.user.username }}</span></a>
                                <p>{{ admin.bio }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade exp-cover" id="resume" role="tabpanel" aria-labelledby="contact-tab">

                    <div class="data-box">
                        <div class="sec-title">
                            <h2>Following</h2>
                        </div>
                        {% for following in followings %}
                            <div class="row exp-row">
                                <h6>{{ following.followed.name }}</h6>
                                <a href="{% url 'accounting:profile' following.followed.user.username %}"><span>{{ following.followed.user.username }}</span></a>

                                <p>{{ following.followed.bio }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if is_admin %}
                    <div class="tab-pane fade gallcoo" id="gallery" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row no-margin gallery">
                            <form class="ui form" method="post"
                                  action="{% url 'channelling:edit-channel' channel.page_id %}">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Title</label>
                                    <input type="text" name="title" placeholder="Title" value="{{ channel.title }}">
                                </div>
                                <div class="field">
                                    <label>Description</label>
                                    <input type="text" name="description" placeholder="Description"
                                           value="{{ channel.description }}">
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" tabindex="0">
                                        <label>Public</label>
                                    </div>
                                </div>
                                <button class="ui button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade contact-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row no-margin">
                            <form class="ui form" method="post"
                                  action="{% url 'channelling:add-admin' channel.page_id %}">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Username</label>
                                    <input type="text" name="username" placeholder="Username">
                                </div>
                                <button class="ui green button" type="submit">Add</button>
                            </form>
                            <p></p>
                            <form class="ui form" method="post"
                                  action="{% url 'channelling:remove-admin' channel.page_id %}">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Username</label>
                                    <input type="text" name="username" placeholder="Username">
                                </div>
                                <button class="ui red button" type="submit">Remove</button>
                            </form>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% load static %}

    <script src="{% static 'profile-files/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'profile-files/js/popper.min.js' %}"></script>
    <script src="{% static 'profile-files/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'profile-files/js/script.js' %}"></script>


    <script>
        function follow_click() {
            let url = '{% url 'follow-page' %}';
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    page_id: '{{ page_id }}',
                    username: '{{ request.user.username }}',
                    csrfmiddlewaretoken: csrf,
                },
                success: function (json) {
                    location.reload();
                    Swal.fire(
                        'Send!',
                        'your new post was sent.',
                        'success'
                    );
                },
                error: function (xhr, errmsg, err) {
                    Swal.fire(
                        'Error!',
                        'you cant follow.',
                        'error'
                    );
                }
            });
        }
    </script>

{% endblock %}


